.seach-container{
    background-color: rgba(0, 0, 0, 0.80);
    text-align: center;
    line-height: 40px;
}
.seach-container input{
    width: 75%;
}
.shop-container{
    display: grid;
    grid-template-columns:3fr 1fr;
}
.product-container{
    border-right: 1px solid lightgray;
    margin-right: 5px;
    margin-left: 50px;
}
.cart-container{
    text-align: center;
}